    html{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #F3F5FC;
    min-height: 100vh;
}

header{
    background-color: #0A3871;
    margin: 0 0 10px 0;
    padding: 8px;
    font-size: 20px;
    color: #F3F5FC;
    text-align: center;
    text-decoration: underline #F3F5FC;
}

.logo{
    margin: 20px;
}

.botones-bienvenida{
    text-align: center;
    margin-top: 22rem;
}

#btn-iniciar{
    padding: 2.6rem;
    font-size: 1.2rem;
    margin: -20rem 100rem 3rem 52rem;
}

.input-text {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-left: 25rem;
    margin-top: 10rem;
    font-size: 1.5rem;
    display: block;
    font-weight: bold;
    color: #0A3871;
    border: none;
    max-width: 120rem;
    resize: none;
    background-color: #F3F5FC;
}

.botones-agregar{
    text-align: center;
    margin-top: 20rem;
}

#hombre{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

.ahorcado{
    width: 100%;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
    height: 16.75rem;
    text-align: center;
}

.adivinado{
    text-align: center;
    color:#0A3871;
    font-size: 1.8rem;
}

.letra{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.adivinada{
    width: 4.5rem;
    height: 4.5rem;
    border-bottom: solid 2.5px #0A3871;
    margin-left: 0.4rem;
    line-height: 4.5rem;
}

.errado{
    text-align: center;
    margin-top: 1.5rem;
    color: #0A3871;
}

.errada{
    margin-left: 1rem;
}

[type="button"]{
    width: 16rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px #0A3871;
    cursor: pointer;
}

.botones{
    text-align: center;
    margin-top: 4rem;
}

.azul{
    background-color: #0A3871;
    color: #F3F5FC;
}

.default{
    background-color: #F3F5FC;
    color: #0A3871;
}

footer{
    text-align: center;
    background-color: #0A3871;
    padding: 20px;
}

.img-footer{
    border-radius: 6px;
    height: 60px;
    width: auto;
    margin: 0 10px;
}

.sticky-footer{
    position: sticky;
    top: 100%;
}

.invisible{
    display: none;
}

/* FORMATO TABLET */

@media screen and (min-width: 768px){
    .botones-bienvenida{
        margin-top: 15rem;
    }

    #btn-iniciar{
        display: block;
        padding: 2.6rem;
        font-size: 1.2rem;
        margin: 0 0 2rem 17.5rem;
    }

    .input-text {
        margin-left: 3rem;
        margin-top: 6rem;
        max-width: 20rem;
    }

    .botones-agregar{
        margin-top: 20rem;
    }

    #btn-cancelar{
        margin-left: 1rem;
    }

    #btn-desistir{
        margin-left: 1.5rem;
    }

}
/* FORMATO DESKTOP */

@media screen and (min-width: 998px) {

    #btn-iniciar{
        display: block;
        padding: 2.6rem;
        font-size: 1.2rem;
        margin: 0 0 2rem 52rem;
    }

    .input-text {
        margin-left: 30rem;
        margin-top: 10rem;
        max-width: 100rem;
    }

    .botones-agregar{
        margin-top: 20rem;
    }

    #btn-cancelar{
        margin-left: 1rem;
    }

    #btn-desistir{
        margin-left: 1.5rem;
    }

    
}

/*FORMATO CELULAR*/

@media screen and (max-width:480px){

    .botones-bienvenida{
        margin-top: 10rem;
    }

    #btn-iniciar{
        padding: 2.6rem;
        font-size: 1.2rem;
        margin: 0 0 2rem 0;
    }

    .input-text {
        margin-left: 1rem;
        margin-top: 3rem;
        max-width: 20rem;
    }

    .botones-agregar{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    #btn-cancelar{
        margin-top: 1rem;
    }

    #btn-desistir{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}